@model Phim

<form asp-action="Add" method="post">
    <h2>Thêm mới</h2>
    <hr />
    <div class="mb-2">
        <label>Tựa đề</label>
        <input asp-for="TuaDe" class="form-control" />
        <span asp-validation-for="TuaDe" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label>Diễn viên</label>
        <input asp-for="DienVien" class="form-control" />
        <span asp-validation-for="DienVien" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label>Thể loại</label><br />
        <input type="radio" asp-for="TrongNuoc" value="true" checked /> Trong nước
        <input type="radio" asp-for="TrongNuoc" value="false" /> Ngoài nước
    </div>

    <div class="mb-2">
        <label>Thời lượng</label>
        <input asp-for="ThoiLuong" class="form-control" />
        <span asp-validation-for="ThoiLuong" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label>Giá vé</label>
        <input asp-for="GiaVe" class="form-control" />
        <span asp-validation-for="GiaVe" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>